# Compiled Object files
*.o

# Dependency files, Precompiled Headers,
*.d
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# I'm an idiot
:wq
